<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Buy</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>

	<div class="formdiv fade-scale-in">
		<!--  Top buttons  -->
		<div class=top-buttons>
			<!-- HomePage link-->
			<a th:href="@{/home}" class="button-link">
				<svg class="icon" viewBox="0 0 24 24">
					<path d="m15 18-6-6 6-6" />
				</svg>
				
				<span>Home</span>
			</a>
			
			<a th:href="@{/logout}" class="button-link button-link-destructive">
				<svg class="icon" viewBox="0 0 24 24">
					<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
					<polyline points="16 17 21 12 16 7"/>
					<line x1="21" x2="9" y1="12" y2="12"/>
				</svg>
				
				<span>Logout</span>
			</a>
		</div>
		
		<!--  Title  -->
		<h1>Buy</h1>
		
		<!-- Search Field -->
		<div>
			<form method="GET" th:action="@{/buy}" class="search-form-compact">
				<label for="query">Search</label>
				
				<div class="search-inline-row">
				    <input id="query" type="text" name="query" th:value="${query}" placeholder="Search Items by keywords" required />
				    
				    <button type="submit" class="button-primary">
				    	<svg class="icon" viewBox="0 0 24 24">
				    		<path d="m21 21-4.34-4.34"/>
				    		<circle cx="11" cy="11" r="8"/>
			    		</svg>
				    	<p>Search</p>
				    </button>
				</div>
			</form>
		</div>

		
		<!-- Search Results -->
		<div th:if="${searchResults != null}">
			<div class="title-with-image">			
				<svg class="icon" viewBox="0 0 24 24">
					<path d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z"/>
					<path d="M5 21h14"/>
				</svg>
					
				<div class="text-group">	
					<h2 class="section-title">Search Results</h2>
					<p class="header-description">See all the Auctions we have found matching your request</p>
				</div>
			</div>
	
	
			<div class=container>			
				
				<div th:if="${searchResults!= null and !searchResults.isEmpty()}">
	    			<ul>
	        			<li th:each="auction : ${searchResults}">
	            			<div>
	                			<div class="auction-header">
	                    			<div>
	                        			<p class="auction-detail">Auction #<span th:text="${auction.id}">1</span></p>
	                        			
	                        			<p class="item-detail-secondary" th:text="'Base price: ' + ${auction.basePrice} + €">€123</p>
	
										<p th:if="${auction.isSold}" class="auction-detail auction-detail-secondary">Final Price:</p>
	                        			<p th:unless="${auction.idSold}" class="auction-detail auction-detail-secondary">Current Highest Bid:</p>	                        			
	
	                        			<div th:if="${auction.highestBid != null}" class="offer-pill">
	                            			<svg class="icon" viewBox="0 0 24 24">
	                                			<circle cx="12" cy="12" r="10"/>
	                                			<path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
	                                			<path d="M12 18V6"/>
	                           				</svg>
	                           				<p th:text="${auction.highestBid.offeredPrice + '€'}">500€</p>
	                        			</div>
	
	                        			<div th:if="${auction.highestBid == null}" class="offer-pill offer-pill-no-offers">
	                            			<svg class="icon" viewBox="0 0 24 24">
	                                			<circle cx="12" cy="12" r="10"/>
	                                			<path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
	                                			<path d="M12 18V6"/>
	                           				</svg>
	                            			<p>No offers yet...</p>
	                        			</div>
	                        			
	                        			<p class="auction-detail auction-detail-secondary">
		                                	Sold by
		                                	<span th:if="${auction.sellerId != session.user.id}" th:text="': ' + ${auction.sellerUsername}">: Seller Username</span>
		                                	<span th:unless="${auction.sellerId != session.user.id}"> you</span>
	                                	</p>
		                       
	                        			
	                    			</div>
	                    				
	                    			<div>
	                        			<div class="closed-status-container">
	                            			<div th:if="${auction.isSold}" class="closed-status closed-status-closed">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                			    <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
	                                    			<path d="M7 11V7a5 5 0 0 1 10 0v4"/>
	                                			</svg>
	                                			<p>Closed</p>
	                            			</div>
	
	                            			<div th:unless="${auction.isSold}" class="closed-status closed-status-open">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                    			<rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
	                                    			<path d="M7 11V7a5 5 0 0 1 9.9-1"/>
	                                			</svg>
	                                			<p>Open</p>
	                           				</div>
	                        			</div>
	
	                        			<div class="remaining-time-container">
	                            			<p class="auction-detail auction-detail-secondary">Remaining time:</p>
	
	                            			<div class="remaining-time-pill">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                    			<path d="M5 22h14"/>
	                                    			<path d="M5 2h14"/>
	                                    			<path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/>
	                                    			<path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/>
	                                			</svg>
	                                			<p th:text="${auction.remainingTime}">1d, 2h, 35min</p>
	                            			</div>
	                        			</div>
	                    			</div>
	                			</div>
	
								<div class="auction-header">
			                        <!-- Items inside the Auction -->
			                        <div class="title-with-image">			
			                            <svg class="icon" viewBox="0 0 24 24">
			                                <path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"/>
			                                <path d="m7 16.5-4.74-2.85"/>
			                                <path d="m7 16.5 5-3"/>
			                                <path d="M7 16.5v5.17"/>
			                                <path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"/>
			                                <path d="m17 16.5-5-3"/>
			                                <path d="m17 16.5 4.74-2.85"/>
			                                <path d="M17 16.5v5.17"/>
			                                <path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"/>
			                                <path d="M12 8 7.26 5.15"/>
			                                <path d="m12 8 4.74-2.85"/>
			                                <path d="M12 13.5V8"/>
			                            </svg>
			                            
			                            <div class="text-group">	
			                                <h2 class="subsection-title">Items</h2>
			                                <p class="header-description">Products included in this closed auction</p>
			                            </div>
			                        </div>
			                        
			                        <!-- Button to open details -->
			                        <a th:href="@{/auction-details(id=${auction.id})}" class="button-primary">
			                        	<p>See more</p>
			                        	
			                        	<svg class="icon" viewBox="0 0 24 24">
			                        		<path d="m9 18 6-6-6-6"/>
			                        	</svg>
			                        </a>
			                        
			                    </div>
								
	                			<ul class="item-list">
	                    			<li th:each="item : ${auction.items}" class="item-container">
	                    				<!--  Image  -->
	                        			<div class="text-group">
											<!-- If image exists -->
											<img th:if="${item.image != null}"
											     th:src="@{/{file}(file=${item.image.filePath})}"
											     alt="Item Image"
											     class="item-image" />
											
											<!-- If image missing -->
											<img th:unless="${item.image != null}"
											     th:src="@{/resources/placeholder.svg}"
											     alt="No Image Available"
											     class="item-image" />
	
											                 			
	                            			<p class="item-detail" th:text="${item.itemName}">Example Item Name</p>
											<p class="item-detail-secondary" th:text="${item.price} + €">€123</p>
	                            			<p class="item-detail-tertiary">Item #<span th:text="${item.id}">1</span></p>
	                        			</div>
	                   				</li>
	                			</ul>
	
	                			<div th:if="${auction.items == null or auction.items.isEmpty()}">
	                    			<p class="no-element-in-list">No items in this auction</p>
	                			</div>
	         				</div>
	        			</li>
	    			</ul>
				</div>
	
				<div th:unless="${searchResults != null and !searchResults.isEmpty()}">
	    			<p class="no-element-in-list">No results</p>
				</div>
			</div>
		</div>
		

		<!-- Auctions won by the User-->
		<div>
			<div class="title-with-image">			
				<svg class="icon" viewBox="0 0 24 24">
					<path d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z"/>
					<path d="M5 21h14"/>
				</svg>
					
				<div class="text-group">	
					<h2 class="section-title">Won Auctions</h2>
					<p class="header-description">See all the Auctions you have won</p>
				</div>
			</div>
	
	
			<div class=container>			
				
				<div th:if="${wonAuctions != null and !wonAuctions.isEmpty()}">
	    			<ul>
	        			<li th:each="auction : ${wonAuctions}">
	            			<div>
	                			<div class="auction-header">
	                    			<div>
	                        			<p class="auction-detail">Auction #<span th:text="${auction.id}">1</span></p>
	                        			
	                        			<p class="item-detail-secondary" th:text="'Base price: ' + ${auction.basePrice} + €">€123</p>
	
										<p th:if="${auction.isSold}" class="auction-detail auction-detail-secondary">Final Price:</p>
	                        			<p th:unless="${auction.isSold}" class="auction-detail auction-detail-secondary">Current Highest Bid:</p>
	                        				
	                        			<div th:if="${auction.highestBid != null}" class="offer-pill">
	                            			<svg class="icon" viewBox="0 0 24 24">
	                                			<circle cx="12" cy="12" r="10"/>
	                                			<path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
	                                			<path d="M12 18V6"/>
	                           				</svg>
	                           				<p th:text="${auction.highestBid.offeredPrice + '€'}">500€</p>
	                        			</div>
	
	                        			<div th:if="${auction.highestBid == null}" class="offer-pill offer-pill-no-offers">
	                            			<svg class="icon" viewBox="0 0 24 24">
	                                			<circle cx="12" cy="12" r="10"/>
	                                			<path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
	                                			<path d="M12 18V6"/>
	                           				</svg>
	                            			<p>No offers yet...</p>
	                        			</div>
	                        			
	                        			<p class="auction-detail auction-detail-secondary">
		                                	Sold by
		                                	<span th:if="${auction.sellerId != session.user.id}" th:text="': ' + ${auction.sellerUsername}">: Seller Username</span>
		                                	<span th:unless="${auction.sellerId != session.user.id}"> you</span>
	                                	</p>
		                       
	                        			
	                    			</div>
	                    				
	                    			<div>
	                        			<div class="closed-status-container">
	                            			<div th:if="${auction.isSold}" class="closed-status closed-status-closed">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                			    <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
	                                    			<path d="M7 11V7a5 5 0 0 1 10 0v4"/>
	                                			</svg>
	                                			<p>Closed</p>
	                            			</div>
	
	                            			<div th:unless="${auction.isSold}" class="closed-status closed-status-open">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                    			<rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
	                                    			<path d="M7 11V7a5 5 0 0 1 9.9-1"/>
	                                			</svg>
	                                			<p>Open</p>
	                           				</div>
	                        			</div>
	
	                        			<div class="remaining-time-container">
	                            			<p class="auction-detail auction-detail-secondary">Remaining time:</p>
	
	                            			<div class="remaining-time-pill">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                    			<path d="M5 22h14"/>
	                                    			<path d="M5 2h14"/>
	                                    			<path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/>
	                                    			<path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/>
	                                			</svg>
	                                			<p th:text="${auction.remainingTime}">1d, 2h, 35min</p>
	                            			</div>
	                        			</div>
	                    			</div>
	                			</div>
	
								<div class="auction-header">
			                        <!-- Items inside the Auction -->
			                        <div class="title-with-image">			
			                            <svg class="icon" viewBox="0 0 24 24">
			                                <path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"/>
			                                <path d="m7 16.5-4.74-2.85"/>
			                                <path d="m7 16.5 5-3"/>
			                                <path d="M7 16.5v5.17"/>
			                                <path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"/>
			                                <path d="m17 16.5-5-3"/>
			                                <path d="m17 16.5 4.74-2.85"/>
			                                <path d="M17 16.5v5.17"/>
			                                <path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"/>
			                                <path d="M12 8 7.26 5.15"/>
			                                <path d="m12 8 4.74-2.85"/>
			                                <path d="M12 13.5V8"/>
			                            </svg>
			                            
			                            <div class="text-group">	
			                                <h2 class="subsection-title">Items</h2>
			                                <p class="header-description">Products included in this closed auction</p>
			                            </div>
			                        </div>
			                        
			                        <!-- Button to open details -->
			                        <a th:href="@{/auction-details(id=${auction.id})}" class="button-primary">
			                        	<p>See more</p>
			                        	
			                        	<svg class="icon" viewBox="0 0 24 24">
			                        		<path d="m9 18 6-6-6-6"/>
			                        	</svg>
			                        </a>
			                        
			                    </div>
								
	                			<ul class="item-list">
	                    			<li th:each="item : ${auction.items}" class="item-container">
	                    				<!--  Image  -->
	                        			<div class="text-group">
											<!-- If image exists -->
											<img th:if="${item.image != null}"
											     th:src="@{/{file}(file=${item.image.filePath})}"
											     alt="Item Image"
											     class="item-image" />
											
											<!-- If image missing -->
											<img th:unless="${item.image != null}"
											     th:src="@{/resources/placeholder.svg}"
											     alt="No Image Available"
											     class="item-image" />
	
											                 			
	                            			<p class="item-detail" th:text="${item.itemName}">Example Item Name</p>
											<p class="item-detail-secondary" th:text="${item.price} + €">€123</p>
	                            			<p class="item-detail-tertiary">Item #<span th:text="${item.id}">1</span></p>
	                        			</div>
	                   				</li>
	                			</ul>
	
	                			<div th:if="${auction.items == null or auction.items.isEmpty()}">
	                    			<p class="no-element-in-list">No items in this auction</p>
	                			</div>
	         				</div>
	        			</li>
	    			</ul>
				</div>
	
				<div th:unless="${wonAuctions != null and !wonAuctions.isEmpty()}">
	    			<p class="no-element-in-list">No won auctions available</p>
				</div>
			</div>
		</div>
			
	</div>
</body>
</html>