<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>

	<h1>Welcome!</h1>

	<div  class="formdiv">
		<h1>Login</h1>
		
		<!-- Error message -->
		<p th:if="${error}" th:text="${error}" class="error"/>

		<form th:action="@{/LoginServlet}" method="POST">
			<fieldset>
				<p>
					Username: <input type="text" name="username" required />
				</p>
				<p>
					Password: <input type="password" name="password" required />
				</p>
				<button type="submit" name="Login">Login</button>
			</fieldset>
		</form>

		<a th:href="@{/signup}">Sign up</a>
	</div>
</body>
</html>