<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sell</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>

	<div class="formdiv fade-scale-in">
		<!--  Top buttons  -->
		<div class=top-buttons>
			<!-- HomePage link-->
			<a th:href="@{/home}" class="button-link">
				<svg class="icon" viewBox="0 0 24 24">
					<path d="m15 18-6-6 6-6" />
				</svg>
				
				<span>Home</span>
			</a>
			
			<a th:href="@{/logout}" class="button-link button-link-destructive">
				<svg class="icon" viewBox="0 0 24 24">
					<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
					<polyline points="16 17 21 12 16 7"/>
					<line x1="21" x2="9" y1="12" y2="12"/>
				</svg>
				
				<span>Logout</span>
			</a>
		</div>
		
		<!--  Title  -->
		<h1>Sell</h1>

		<!-- Auctions created by the User and not closed yet -->
		<div>
			<div class="title-with-image">			
				<svg class="icon" viewBox="0 0 24 24">
					<line x1="10" x2="14" y1="2" y2="2"/>
					<line x1="12" x2="15" y1="14" y2="11"/>
					<circle cx="12" cy="14" r="8"/>
				</svg>
					
				<div class="text-group">	
					<h2 class="section-title">Open Auctions</h2>
					<p class="header-description">See all the Auctions you have created that are still open</p>
				</div>
			</div>
	
	
			<div class=container>			
				
				<div th:if="${openAuctions != null and !openAuctions.isEmpty()}">
	    			<ul>
	        			<li th:each="auction : ${openAuctions}">
	            			<div>
	                			<div class="auction-header">
	                    			<div>
	                        			<p class="auction-detail">Auction #<span th:text="${auction.id}">1</span></p>
	                        			
	                        			<p class="auction-detail-secondary" th:text="'Base price: ' + ${auction.basePrice} + €">€123</p>
	
										<p th:if="${auction.isSold}" class="auction-detail-secondary">Final Price:</p>
	                        			<p th:unless="${auction.isSold}" class="auction-detail-secondary">Current Highest Bid:</p>	                        			
		
	                        			<div th:if="${auction.highestBid != null}" class="offer-pill">
	                            			<svg class="icon" viewBox="0 0 24 24">
	                                			<circle cx="12" cy="12" r="10"/>
	                                			<path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
	                                			<path d="M12 18V6"/>
	                           				</svg>
	                           				<p th:text="${auction.highestBid.offeredPrice + '€'}">500€</p>
	                        			</div>
	
	                        			<div th:if="${auction.highestBid == null}" class="offer-pill offer-pill-no-offers">
	                            			<svg class="icon" viewBox="0 0 24 24">
	                                			<circle cx="12" cy="12" r="10"/>
	                                			<path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/>
	                                			<path d="M12 18V6"/>
	                           				</svg>
	                            			<p>No offers yet...</p>
	                        			</div>
	                        			
	                        			<p class="auction-detail-secondary">
		                                	Sold by
		                                	<span th:if="${auction.sellerId != session.user.id}" th:text="': ' + ${auction.sellerUsername}">: Seller Username</span>
		                                	<span th:unless="${auction.sellerId != session.user.id}"> you</span>
	                                	</p>
		                       
	                        			
	                    			</div>
	                    				
	                    			<div>
	                        			<div class="closed-status-container">
	                            			<div th:if="${auction.isSold}" class="closed-status closed-status-closed">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                			    <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
	                                    			<path d="M7 11V7a5 5 0 0 1 10 0v4"/>
	                                			</svg>
	                                			<p>Closed</p>
	                            			</div>
	
	                            			<div th:unless="${auction.isSold}" class="closed-status closed-status-open">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                    			<rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
	                                    			<path d="M7 11V7a5 5 0 0 1 9.9-1"/>
	                                			</svg>
	                                			<p>Open</p>
	                           				</div>
	                        			</div>
	
	                        			<div class="remaining-time-container">
	                            			<p class="auction-detail-secondary">Remaining time:</p>
	
	                            			<div class="remaining-time-pill">
	                                			<svg class="icon" viewBox="0 0 24 24">
	                                    			<path d="M5 22h14"/>
	                                    			<path d="M5 2h14"/>
	                                    			<path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/>
	                                    			<path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/>
	                                			</svg>
	                                			<p th:text="${auction.remainingTime}">1d, 2h, 35min</p>
	                            			</div>
	                        			</div>
	                    			</div>
	                			</div>
	
								<div class="auction-header">
			                        <!-- Items inside the Auction -->
			                        <div class="title-with-image">			
			                            <svg class="icon" viewBox="0 0 24 24">
			                                <path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"/>
			                                <path d="m7 16.5-4.74-2.85"/>
			                                <path d="m7 16.5 5-3"/>
			                                <path d="M7 16.5v5.17"/>
			                                <path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"/>
			                                <path d="m17 16.5-5-3"/>
			                                <path d="m17 16.5 4.74-2.85"/>
			                                <path d="M17 16.5v5.17"/>
			                                <path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"/>
			                                <path d="M12 8 7.26 5.15"/>
			                                <path d="m12 8 4.74-2.85"/>
			                                <path d="M12 13.5V8"/>
			                            </svg>
			                            
			                            <div class="text-group">	
			                                <h2 class="subsection-title">Items</h2>
			                                <p class="header-description">Products included in this auction</p>
			                            </div>
			                        </div>
			                        
			                        <!-- Button to open details -->
			                        <a th:href="@{/auction-details(id=${auction.id})}" class="button-primary">
			                        	<p>See more</p>
			                        	
			                        	<svg class="icon" viewBox="0 0 24 24">
			                        		<path d="m9 18 6-6-6-6"/>
			                        	</svg>
			                        </a>
			                        
			                    </div>
								
	                			<ul class="item-list">
	                    			<li th:each="item : ${auction.items}" class="item-container">
	                    				<!--  Image  -->
	                        			<div class="text-group">
											<!-- If image exists -->
											<img th:if="${item.image != null}"
											     th:src="@{/{file}(file=${item.image.filePath})}"
											     alt="Item Image"
											     class="item-image" />
											
											<!-- If image missing -->
											<img th:unless="${item.image != null}"
											     th:src="@{/resources/placeholder.svg}"
											     alt="No Image Available"
											     class="item-image" />
	
											                 			
	                            			<p class="item-detail" th:text="${item.itemName}">Example Item Name</p>
											<p class="item-detail-secondary" th:text="${item.price} + €">€123</p>
	                            			<p class="item-detail-tertiary">Item #<span th:text="${item.id}">1</span></p>
	                        			</div>
	                   				</li>
	                			</ul>
	
	                			<div th:if="${auction.items == null or auction.items.isEmpty()}">
	                    			<p class="no-element-in-list">No items in this auction</p>
	                			</div>
	         				</div>
	        			</li>
	    			</ul>
				</div>
	
				<div th:unless="${openAuctions != null and !openAuctions.isEmpty()}">
	    			<p class="no-element-in-list">No open auctions available</p>
				</div>
			</div>
		</div>
		
		<div>
		    <!-- Title for closed auctions -->
		    <div class="title-with-image">			
		        <svg class="icon" viewBox="0 0 24 24">
		            <path d="M10 2h4"/>
		            <path d="M4.6 11a8 8 0 0 0 1.7 8.7 8 8 0 0 0 8.7 1.7"/>
		            <path d="M7.4 7.4a8 8 0 0 1 10.3 1 8 8 0 0 1 .9 10.2"/>
		            <path d="m2 2 20 20"/>
		            <path d="M12 12v-2"/>
		        </svg>
		
		        <div class="text-group">	
		            <h2 class="section-title">Closed Auctions</h2>
		            <p class="header-description">See all the Auctions you have created that are already closed</p>
		        </div>
		    </div>
		
		    <div class="container">
		        <div th:if="${closedAuctions != null and !closedAuctions.isEmpty()}">
		            <ul>
		                <li th:each="auction : ${closedAuctions}">
		                    <div>
		                        <!-- Auction Header -->
		                        <div class="auction-header">
		                            <div>
		                                <p class="auction-detail">Auction #<span th:text="${auction.id}">1</span></p>
		                                
		                                <p class="auction-detail-secondary">Base price: <span th:text="${auction.basePrice}"></span>€</p>
		                                
		                                <p class="auction-detail-secondary">Minimum increment: <span th:text="${auction.minIncrement}"></span>€</p>
		                                
		                                <p class="auction-detail-secondary">
		                                	Sold by
		                                	<span th:if="${auction.sellerId != session.user.id}" th:text="': ' + ${auction.sellerUsername}">: Seller Username</span>
		                                	<span th:unless="${auction.sellerId != session.user.id}"> you</span>
	                                	</p>
		                       
		                            </div>
		
		                            <div>
		                                <div class="closed-status-container">
		                                    <div th:if="${auction.isSold}" class="closed-status closed-status-closed">
		                                        <svg class="icon" viewBox="0 0 24 24">
		                                            <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
		                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
		                                        </svg>
		                                        <p>Sold</p>
		                                    </div>
		
		                                    <div th:unless="${auction.isSold}" class="closed-status closed-status-open">
		                                        <svg class="icon" viewBox="0 0 24 24">
		                                            <rect width="18" height="11" x="3" y="11" rx="2" ry="2"/>
		                                            <path d="M7 11V7a5 5 0 0 1 9.9-1"/>
		                                        </svg>
		                                        <p>Not Sold</p>
		                                    </div>
		                                </div>
		
		                                <div class="remaining-time-container">
		                                    <p class="auction-detail-secondary">Closed at:</p>
		                                    
		                                    <div class="remaining-time-pill">
		                                        <svg class="icon" viewBox="0 0 24 24">
		                                            <path d="M5 22h14"/>
		                                            <path d="M5 2h14"/>
		                                            <path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/>
		                                            <path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/>
		                                        </svg>
												<p th:text="${#temporals.format(auction.closingDate, 'dd/MM/yyyy HH:mm')}">01/01/2025 12:00</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		
								<div class="auction-header">
			                        <!-- Items inside the Auction -->
			                        <div class="title-with-image">			
			                            <svg class="icon" viewBox="0 0 24 24">
			                                <path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"/>
			                                <path d="m7 16.5-4.74-2.85"/>
			                                <path d="m7 16.5 5-3"/>
			                                <path d="M7 16.5v5.17"/>
			                                <path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"/>
			                                <path d="m17 16.5-5-3"/>
			                                <path d="m17 16.5 4.74-2.85"/>
			                                <path d="M17 16.5v5.17"/>
			                                <path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"/>
			                                <path d="M12 8 7.26 5.15"/>
			                                <path d="m12 8 4.74-2.85"/>
			                                <path d="M12 13.5V8"/>
			                            </svg>
			                            
			                            <div class="text-group">	
			                                <h2 class="subsection-title">Items</h2>
			                                <p class="header-description">Products included in this auction</p>
			                            </div>
			                        </div>
			                        
			                        <!-- Button to open details -->
			                        <a th:href="@{/auction-details(id=${auction.id})}" class="button-primary">
			                        	<p>See more</p>
			                        	
			                        	<svg class="icon" viewBox="0 0 24 24">
			                        		<path d="m9 18 6-6-6-6"/>
			                        	</svg>
			                        </a>
			                        
			                    </div>
		
		                        <ul class="item-list">
		                            <li th:each="item : ${auction.items}" class="item-container">
		                                <div class="text-group">
		                                    <!-- If image exists -->
		                                    <img th:if="${item.image != null}"
		                                         th:src="@{/{file}(file=${item.image.filePath})}"
		                                         alt="Item Image"
		                                         class="item-image" />
		                                    
		                                    <!-- If image missing -->
		                                    <img th:unless="${item.image != null}"
		                                         th:src="@{/resources/placeholder.svg}"
		                                         alt="No Image Available"
		                                         class="item-image" />
		
		                                    <p class="item-detail" th:text="${item.itemName}">Example Item Name</p>
											<p class="item-detail-secondary" th:text="${item.price} + €">€123</p>
		                                    <p class="item-detail-tertiary">Item #<span th:text="${item.id}">1</span></p>
		                                </div>
		                            </li>
		                        </ul>
		
		                        <div th:if="${auction.items == null or auction.items.isEmpty()}">
		                            <p class="no-element-in-list">No items in this auction</p>
		                        </div>
		                    </div>
		                </li>
		            </ul>
		        </div>
		
		        <div th:unless="${closedAuctions != null and !closedAuctions.isEmpty()}">
		            <p class="no-element-in-list">No closed auctions available</p>
		        </div>
		    </div>
		</div>
		
		
		<!-- Item Creation Form -->
		<div>
			<!-- Title -->
			<div>
				<div class="title-with-image">			
				    <svg class="icon" viewBox="0 0 24 24">
				    	<path d="M12 8v8"/>
				    	<path d="M2.7 10.3a2.41 2.41 0 0 0 0 3.41l7.59 7.59a2.41 2.41 0 0 0 3.41 0l7.59-7.59a2.41 2.41 0 0 0 0-3.41L13.7 2.71a2.41 2.41 0 0 0-3.41 0z"/>
				    	<path d="M8 12h8"/>
			    	</svg>
				    
				    <div class="text-group">	
				        <h2 class="subsection-title">New Item</h2>
				        <p class="header-description">Create a new Item to sell</p>
				    </div>
				</div>
				
				<div class="container">
					<!-- Error message -->
					<p th:if="${itemError}" th:text="${itemError}" class="error"/>
				
					<form method="POST" th:action="@{/CreateItem}" enctype="multipart/form-data">
						<div class="form-columns">
							<!-- LEFT HALF: Text Entries -->
							<div class="form-left">
							    <!-- Item Name -->
							    <label for="itemName">Item Name:</label>
							    <input type="text" name="itemName" id="itemName" placeholder="Name" required minlength="1" maxlength="255">
							
							    <!-- Description -->
							    <label for="itemDescription">Description:</label>
							    <textarea name="itemDescription" id="itemDescription" rows="4" placeholder="Description" required maxlength="1023"></textarea>
							
							    <!-- Price -->
							    <label for="price">Price (€):</label>
							    <input type="number" name="price" id="price" placeholder="___ €" required min="1" step="1">
						    </div>
						
							<!-- RIGHT HALF: Image Upload -->
						    <div class="form-right">
						    	<!-- Image Upload -->
							    <div class="form-group">
							    	<input type="file" name="image" id="image" accept="image/*" required class="hidden-file-input" />
								    <label for="image" class="custom-file-upload">
										<svg class="icon upload-icon" viewBox="0 0 24 24">
											<path d="M16 5h6"/>
											<path d="M19 2v6"/>
											<path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5"/>
											<path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/>
											<circle cx="9" cy="9" r="2"/>
										</svg>
										<p>Click to upload image</p>
									</label>
		
								</div>
							</div>
							
						</div>
					    
					    <!-- Hidden User ID  -->
					    <input type="hidden" name="creatorId" th:value="${user.id}" />
					
					    <!-- Submit -->
					    <button type="submit" class="button-primary">
					    	<svg class="icon" viewBox="0 0 24 24">
						    	<path d="M12 8v8"/>
						    	<path d="M2.7 10.3a2.41 2.41 0 0 0 0 3.41l7.59 7.59a2.41 2.41 0 0 0 3.41 0l7.59-7.59a2.41 2.41 0 0 0 0-3.41L13.7 2.71a2.41 2.41 0 0 0-3.41 0z"/>
						    	<path d="M8 12h8"/>
					    	</svg>
					    	
					    	<p>Create Item</p>
					    </button>
					</form>
					
				</div>
			</div>
		</div>
		
		<!-- Auction Creation Form -->
		<div>
			<!-- Title -->
			<div>
				<div class="title-with-image">
				    <svg class="icon" viewBox="0 0 24 24">
				    	<path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/>
				    	<line x1="12" x2="12" y1="8" y2="16"/>
				    	<line x1="8" x2="16" y1="12" y2="12"/>
				    </svg>
				    
				    <div class="text-group">	
				        <h2 class="subsection-title">New Auction</h2>
				        <p class="header-description">Create a new Auction and sell your Items</p>
				    </div>
				</div>
				
				<div class="container">
					<!-- Error message -->
					<p th:if="${auctionError}" th:text="${auctionError}" class="error"/>
				
					<form method="post" th:action="@{/CreateAuction}">
						<div class="form-columns-packed">
							<!-- LEFT HALF: Minimum Increment -->
							<div class="form-column">
							    <!-- Minimum Increment -->
							    <label for="minIncrement">Minimum Increment (€):</label>
							    <input type="number" name="minIncrement" id="minIncrement" placeholder="___ €" required min="1" step="1">
							</div>
							
							<!-- RIGHT HALF: Closing Date -->    
							<div class="form-column">
							    <!-- Closing Date -->
							    <label for="closingDate">Closing Date:</label>
							    <input type="datetime-local" name="closingDate" id="closingDate" 
							    	th:value="${#temporals.format(defaultClosingDate, 'yyyy-MM-dd\'T\'HH:mm')}" required>
						    </div>
							    
						</div>
						
					    <!-- Select Items -->
						<label>Select Items for this Auction:</label>
						
						<ul class="item-list" th:if="${!#lists.isEmpty(availableItems)}">
						    <li th:each="item : ${availableItems}">
							    <input type="checkbox"
							           name="itemIds"
							           th:value="${item.id}"
							           th:id="'item-' + ${item.id}"
							           class="item-checkbox"
							           hidden />
							
							    <label th:for="'item-' + ${item.id}" class="item-container">
							        <div class="checkmark-overlay">
							            <svg viewBox="0 0 24 24" class="checkmark-icon">
							                <polyline points="20 6 9 17 4 12" />
							            </svg>
							        </div>
							
							        <div class="text-group">
							        	<!-- Image -->
								        <img th:if="${item.image != null}"
								             th:src="@{/{file}(file=${item.image.filePath})}"
								             class="item-image" />
								        <img th:unless="${item.image != null}"
								             th:src="@{/resources/placeholder.svg}"
								             class="item-image" />
								
								        
							            <p class="item-detail" th:text="${item.itemName}">Item Name</p>
							            <p class="item-detail-secondary" th:text="${item.price} + €">€123</p>
							            <p class="item-detail-tertiary">Item #<span th:text="${item.id}">1</span></p>
							        </div>
							    </label>
							</li>
						    
						</ul>				

						<p class="no-element-in-list" th:if="${#lists.isEmpty(availableItems)}">
						    No available items. You need at least one to create an auction.
						</p>
						
						
					    <!-- Hidden Seller ID -->
					    <input type="hidden" name="sellerId" th:value="${user.id}" />
						
						<!-- Submit -->
						<button type="submit" class="button-primary"
						        th:disabled="${#lists.isEmpty(availableItems)}"
						        th:classappend="${#lists.isEmpty(availableItems)} ? ' disabled-button' : ''">
						    
						    <svg class="icon" viewBox="0 0 24 24">
						    	<path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/>
						    	<line x1="12" x2="12" y1="8" y2="16"/>
						    	<line x1="8" x2="16" y1="12" y2="12"/>
						    </svg>
						    
						    <p>Create Auction</p>
						</button>
					</form>
				</div>

			</div>
		</div>
			
	</div>
</body>
</html>