<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>

	<h1>Welcome!</h1>

	<div  class="formdiv">
		<h1>Sign up</h1>

		<!-- Error message -->
		<p th:if="${error}" th:text="${error}" style="color: red;"/>

		<form th:action="@{/SignUpServlet}" method="POST">
			<fieldset>
				<!-- Hidden input, it specifies to the Servlet that we are stil checking the credentials -->
				<input type="hidden" name="phase" value="1">

				<p>
					Username: <input type="text" name="username" required />
				</p>
				<p>
					Password: <input type="password" name="password1" required />
				</p>
				<p>
					Confirm password: <input type="password" name="password2" required />
				</p>
				<button type="submit" name="Sign up">Sign up</button>
			</fieldset>
		</form>

		<a th:href="@{/login}">Go back</a>
	</div>
</body>
</html>